{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block link %}
<div>
  <a href="{% url 'index' %}">Main page</a>
  <span>|</span>
  <a href="{% url 'projects_list'%}">Projects list</a>
</div>
{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="POST">
        <div class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content='Create account' %}
        </div>
    </form>
    
{% endblock %}