{% extends 'base.html' %}

{% block header %}
    <h1>Tasks</h1>
    
{% endblock %}

{% block content %}
    {% for task in tasks %}
    <div class="wrapper">
        <h4>Title - {{ task.summary }}</h2>
        <p>Task id - {{ task.id }}</p>
        <p>Status - {{ task.status }}</p>
        {% comment %} <p>Status - {{ task.type }}</p> {% endcomment %}
        <p><a href="{% url 'task_render' task.pk %}">View detail</a></p>
        {% comment %}<p><a href="{% url 'update' task.pk %}">Update task</a></p>
        <p><a href="{% url 'delete' task.pk %}">Delete task</a></p> {% endcomment %}
    </div>
    {% endfor %}
{% endblock%}
{% block link %}
    {% comment %} <a href="{% url 'index' %}">Add task</a>  REQUIRED TO CHANGE THE NAME {% endcomment %}

{% endblock%}