{% extends 'base.html' %}

{% block title %}
  Project {{ project.pk }}
{% endblock%}

{% block header %}
  <h1>About the project {{ project.title }}</h1>
{% endblock %}

{% block content %}
  <p><b>Title:</b>  {{ project.title }}</p>
  <p><b>Description:</b>  {{ project.description }}</p>
  <p><b>Start:</b>  {{ project.start_date }}</p>
  <p><b>Finish :</b>  {{ project.start_date }}</p>
{% endblock %}

{% block link %}
<div>
  <a href="{% url 'index' %}">Main page</a>
  <p></p>
  <a href="{% url 'task_creation' %}">Add task</a>
  <p></p>
  <a href="{% url 'project_creation' %}">Add project</a>
  
</div>
{% endblock %}