{% extends 'base.html' %}

{% block header %}
    <h1>Projects</h1>
    
{% endblock %}

{% block content %}
    {% for project in projects %}
    <div class="wrapper projects">
        <h4>Title - {{ project.title }}</h2>
        <p>Description - {{ project.description }}</p>
        <p><a href="{% url 'project_render' project.pk %}">View detail</a></p>
        {% comment %} <p><a href="{% url 'task_edit' task.pk %}">Edit task</a></p>
        <p><a href="{% url 'delete' task.pk %}">Delete task</a></p> {% endcomment %}
    </div>
    {% endfor %}
{% endblock%}
{% block link %}
    <a href="{% url 'index' %}">Main page</a>
{% endblock%}