{% extends 'base.html' %}

{% block title %}
    Create project
{% endblock %}
{% block header %}
<h1>New project</h1>
{% endblock %}
{% block content %}
    <form action="{% url 'project_creation' %}" method="POST">
        {% csrf_token %}
        <div class="form">
            {% include 'partial/task_form.html' with button_text='Create'%}
        </div>
    </form>
{% endblock %}
{% block link %}
    <a href="{% url 'index' %}">Main page</a>
    <a href="{% url 'task_creation' %}">Add task</a>
    <p><a href="{% url 'projects_list'%}">Projects list</a></p>


{% endblock %}