{% extends 'base.html' %}

{% block title %}
  Task {{ task.pk }}
{% endblock%}

{% block header %}
  <h1>Whole information about task</h1>
{% endblock %}

{% block content %}
  <p><b>Summary:</b>  {{ task.summary }}</p>
  <p><b>Description:</b>  {{ task.description }}</p>
  <p><b>Status:</b>  {{ task.status }}</p>
  <p><b>Project:</b>  {{ task.project.title }}</p>
  <p><b>Type:</b>  {{ task.type.name }}</p>
{% endblock %}

{% block link %}
<div>
  <a href="{% url 'index' %}">Main page</a>
  <p></p>
  <p><a href="{% url 'task_edit' task.pk %}">Edit task</a></p>
  <p></p>
  <a href="{% url 'task_creation' %}">Add task</a>
  <p></p>
  <p><a href="{% url 'projects_list'%}">Projects list</a></p>
</div>
{% endblock %}